
<div id="footer" class="footer-body">
    <div id="newsletter">
        <h1>NEWSLETTER</h1>
    <P>lit, dolores itaque quod eum reprehenderit <br>dolor iusto iste consequuntur voluptatem. Consec</P>
    <div id="formfooter"><form action="php">
            <input type="text" placeholder=" EMAIL">
            <button>Send</button>
        </form></div>
    </div>
    <div id="menu">
        <span id="fmyorder" class="footer-menu">
            <h2>MY ORDER</h2>
            <ul>
                <li><a href="">Order History</a></li>
                <li><a href="">Wishlist</a></li>
                <li><a href="">Newsletter</a></li>
                <li><a href="">My Reservation</a></li>
            </ul>
        </span>
        <span id="finformation" class="footer-menu">
            <h2>INFORMATION</h2>
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Delivery Information</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Trems & Conditions</a></li>
                <li><a href="">Sitemap</a></li>
            </ul>
        </span>
        <span id="fworking-time" class="footer-menu">
            <h2>WORKING TIME</h2>
            <ul>
                <li><a href="">Monday - Friday : 9am to 12am</a></li>
                <li><a href="">Saturday - Sunday : 24 Hour Open</a></li>
                <li><a href="">Breakfast : 7am to 12 pm</a></li>
                <li><a href="">Lunch : 12pm to 7 pm</a></li>
                
            </ul>
        </span>
        <span id="fcontact-us" class="footer-menu">
            <h2>Contact us</h2>
            <ul>
                <li><a href=""><i class="fa-solid fa-location-dot"></i>Pahalu ka Pura cantt varanasi</a></li>
                <li><a href=""><i class="fa-solid fa-phone"></i>S01223455</a></li>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i>0173462757</a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i>jabcde12@gmail.com</a></li>
            </ul>
        </span>


    </div>
    <div id="copyright">
        <img src="../../../assets/images/logo1.png" alt="logo">
        <span id="restaurant-name">
            <h1>Restaurant</h1>
            <p>FOOD & DRINKS </p>
        </span>
        <span id="copyright-logo">
            <p>Copyright &copy</p>
            <p id="last-p-copyright">Rstaurant Food & Drinks </p> 
            <p>2023. All Right Reserved</p>
        </span>
        <span id="social-media-logo">
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
                <li><i class="fa-brands fa-google-plus-g"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </span>
    </div>
</div>
