<div class="section-title">
    <h2>our menu</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, repudiandae!</p>
     
  </div>
<div  class="col-nav " id="nav-menu">
    <ul>
        <li><a href="showall.html">show all</a></li>
        <li><a href="breakfast.html">breakfast</a></li>
        <li><a href="lunch.html">lunch</a></li>
        <li><a href="dinner.html">Dinner</a></li>
        <li><a href="drinks.html">Drinks</a></li>
        <li><a href="others.html">others</a></li>
    </ul>
  </div>
<div class="mdiv">
    <div class="fdiv">
        <div class="single-menu">
            <img src="../assets/image/01.jpg" alt="">
            <div class="menu-content">
                <h5>biryani <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/02.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/03.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="fdiv">
        <div class="single-menu">
            <img src="../assets/image/04.jpg" alt="">
            <div class="menu-content">
                <h5>biryani <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/05.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/06.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="fdiv">
        <div class="single-menu">
            <img src="../assets/image/07.jpg" alt="">
            <div class="menu-content">
                <h5>biryani <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/08.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="single-menu">
            <img src="../assets/image/09.jpg" alt="">
            <div class="menu-content">
                <h5>food title <span>rs.50</span></h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="section-title2">
        <h2>our popular dishes</h2>
        <p class="psection">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam quisquam eaque accusamus debitis autem quod. Voluptates distinctio totam, numquam quibusdam vel eum delectus veritatis mollitia sint vero nulla recusandae neque quia quasi, sed quidem dolor voluptatibus? Tenetur odio voluptas illo.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam quisquam eaque accusamus debitis autem quod. Voluptates distinctio totam, numquam quibusdam vel eum delectus veritatis mollitia sint vero nulla recusandae neque quia quasi, sed quidem dolor voluptatibus?</p>
         
      </div>

</div>
